@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-white font-display antialiased selection:bg-primary/30 selection:text-white;
  }
}

@layer utilities {
    .glass-panel {
        @apply bg-[#161616]/60 backdrop-blur-[16px] border border-white/[0.08] shadow-[0_4px_30px_rgba(0,0,0,0.1)];
    }
    
    .glass-input {
        @apply bg-white/[0.03] backdrop-blur-[10px] border border-white/[0.05];
    }
    
    .glass-btn {
        @apply bg-white/[0.05] backdrop-blur-[10px] border border-white/[0.1];
    }
    
    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: #050505;
    }
    ::-webkit-scrollbar-thumb {
        background: #2b2b2b;
        border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #3b3b3b;
    }
}
